.swal-modal {
  border-radius: 0;

  .swal-title {
    font-weight: normal;
    font-family: "Druk-WideMedium", Arial, Helvetica, sans-serif;
    color: #000;
  }
  .swal-text {
    font-size: 14px;
    font-weight: 400;
    color: #444;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
  }
}
