:root {
    --primary-color: #262d34;
    --white: #ffff;
    --soft-white: #f7f7f7;
    --gray-89: #898989;
    --gray-999: #999999;
    --light-gray: #d1d1d1;
    --gold: #a28665;
    --nav-bg: #191c20;

    --bezier-1: cubic-bezier(0.7, 0, 0.3, 1);
}

/* Colors */
$Toasted: #d0a885;
$SkinTone: #e5c6ac;
$SoftSkin: #fffaf6;
$DarkGray: #545454;
$LightGray: #aaaaaa;
